<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Edit Product</title>
</head>

<body class="container" style="margin-top:50px">
    <% if(messages.success) { %>
        <div class="alert alert-success" role="alert">
            <%= messages.success %>
        </div>
        <% } %>
            <% if(messages.error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= messages.error %>
                </div>
                <% } %>
                    <div class="card">
                        <div class="card-header">Edit product</div>
                        <div class="card-body">
                            <form action="/products/update/<%= productCode %>" method="post">
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input type="text" class="form-control" name="productName" value="<%=productName %>">
                                </div>
                                <div class="form-group">
                                    <label>Product Line</label>
                                    <input type="text" class="form-control" name="productLine" value="<%=productLine %>">
                                </div>
                                <div class="form-group">
                                    <label>Product Price</label>
                                    <input type="text" class="form-control" name="buyPrice" value="<%=buyPrice %>">
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Edit">
                                </div>
                            </form>
                        </div>
                    </div>
</body>

</html>