<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Statistics</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body class="container" style="margin-top: 50px;">
    <% if(messages.success) { %>
        <div class="alert alert-success" role="alert">
            <%= messages.success %>
        </div>
        <% } %>
            <% if(messages.error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= messages.error %>
                </div>
                <% } %>
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-pills w-100">
                                <li class="nav-pill-active">
                                    <a class="nav-lin">Product Statistics</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <% if(data.length) { %>
                                <% for(var i=0; i< data.length; i++) { %>
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Maksimalus kiekis</h5>
                                            <p class="card-text">
                                                <%= data[i].Max_ %>.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Minimalus kiekis</h5>
                                            <p class="card-text">
                                                <%= data[i].Min %>.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Vidutinis kiekis</h5>
                                            <p class="card-text">
                                                <%= data[i].Avg_ %>.
                                            </p>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>

                                            <% if(!data.length) { %>
                                                <p class="text-center">No Statistics</p>
                                                <% } %>

                        </div>
                    </div>
</body>

</html>